
/*Aqui importe una fuente externa que descargue en google para poder usarla dentro de mi pagina*/
@font-face {
    font-family: 'Inter Tight'; 
    src: url('font/static/InterTight-Bold.ttf') format('truetype'); /*truetype significa que no cambia nada*/
    font-weight: normal;
    font-style: normal;
}

/*el ease significa que el movimiento es suave y no muy agresivo*/

/*el body es para pintar el fondo completo atras y alinearlo a toda la pantalla*/
body {
    background-color: #121212;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif; /*Hincapie: sin estos, toda la pagina pierde su tipo de letra*/
    margin: 0;
    padding: 0;
}

/*este lo use para realizar todo el navbar (lo que dice store y asi, es para darle el formato*/
.navbar {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
}
/*esta clase la use para separar los dos tipos de botones dentro del nav bar, este modifica el log, store, soporte y distribuir*/
.nav-left {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 25px;
    height: 70px;
}
/*darle formato al contenedor del logo*/      
.logo {
    display: flex;
    align-items: center; 
    gap: 20px;
    height: 70px;
}
/*darle formato a la imagen del logo*/
.logo img {
    height: 35px; 
    width: auto;
    background-color: transparent
}
/*darle formato a la palabra STORE*/
.tienda a{   
    height: 35px;         
    color: #f5f5f5;
    font-size: 22px;
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
}

/*Importantisimo: para quitar todo subrayado en las palabras que contengan enlaces*/
a {
    text-decoration: none;
    color: inherit;
}
/*darle el formato al contenedor de los links de distribuir y soporte*/
.nav-links { 
    display: flex; 
    gap: 25px;
    align-items: center;
}
/*darle formato al texto de los links de distribuir y soporte*/
.nav-links a {
    font-size: 11px; 
    color: white;
    display: inline-flex; 
    text-transform: uppercase; 
    letter-spacing: 0.5px;
    text-decoration: none;
    cursor: pointer;
}

/*acomodar la  flechita que est ajunto a distribuir*/
.distribute-icon{
    margin-left: 7px;
    color: #adadad;
    transform: translateY(-2px);
}


.nav-links a {
    color: white;
    transition: all 0.2s ease;
}
/*funcion hover a la hora de interactuar con los links*/
.nav-links a:hover {
    color: gray;
    transform: scale(1.05);
}


/*formato de los botones de iniciar sesion y descargar*/
.nav-right { 
    display: flex;
    align-items: center;
    gap: 25px; 
}

/*formato del boton de iniciar sesion*/
.btn-login { 
    font-size: 12px;
    font-weight: 700;
    background-color: #2a2a2a;
    color: #adadad;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none; 
    text-transform: uppercase;
    transition: all 0.2s ease;
}
/*funcion hover del boton de iniciar sesion*/
.btn-login:hover { 
    background-color: #3a3a3a; 
    color: white;
    transform: scale(1.05); 
}
/*formato del boton de descargar*/
.btn-download { 
    background-color: #26bbff; 
    color: black; 
    padding: 8px 14px; 
    border-radius: 8px; 
    font-size: 12px; 
    font-weight: 700; 
    text-decoration: none; 
    text-transform: uppercase; 
    transition: all 0.2s ease;
}
/*funcion hover del boton de descargar*/
.btn-download:hover { 
    background-color: #6fc3f0;
    transform: scale(1.05); 
}

/*formato del contenedor situado abajo de la navbar*/
.sub-nav {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/*formato de la barra de busqueda*/
.search-bar {
    background-color: #202020; 
    color: #f5f5f5;
    border: none;
    border-radius: 25px; 
    padding: 10px 15px 10px 45px; 
    width: 230px;
    font-size: 14px;
    outline: none; /*quitar el borde azul que aparece al seleccionar la barra*/
    transition: all 0.2s;
}
/*funcion a la hora de interactuar con la barra de busqueda*/
.search-bar::placeholder {
    color: #adadad;
}
/*funcion a la hora de poner el cursor en la barra de busqueda*/
.search-bar:focus {
    background-color: #2a2a2a;
}

/*formato del contenedor de los links de descubrir, explorar y novedades*/
.menu-discover {
    display: flex;
    gap: 25px;
    color: #adadad;
    font-size: 14px;
    cursor: pointer;
}

/*formato de los links de descubrir, explorar y novedades*/
.menu-discover a {
    color: #adadad;
    transition: all 0.2s ease;
    
}
/*funcion hover de los links de descubrir, explorar y novedades*/
.menu-discover a:hover {
    color: white;
    transition: all 0.2s ease;
    transform: scale(1.02);
}

/*foramto del contenedor grande que incluye la imagen, el texto y los botones*/
.hero-container {
    display: grid;
    grid-template-columns: 1fr 240px;
    gap: 25px;
    padding: 0 40px;
    max-width: 1320px;
    margin: 0 auto;
}

/*formato de la imagen principal*/
.main-banner {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 16 / 9; /*aspecto de radio 16:9, normalmente se usa en pantallas HD*/
    background-color: #222;
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), transparent), url('img/genshin.png'); /*que imagen va dentro del mini contenedor de la imagen*/
    background-size: cover; /*que la imagen cubra todo el contenedor*/
    background-position: center; 
}

/*formato del texto que va adentro del contenedor donde esta la imagen*/
.banner-content {
    position: absolute; /*para que se quede dentro del contenedor de la imagen*/
    bottom: 50px;
    left: 50px;
    max-width: 400px;
}

/*formato del titulo del juego dentro del contenedor de la imagen*/
.tag { 
    font-size: 15px; 
    font-family: 'Noto Sans' sans-serif; 
    font-weight: 700; 
    margin-bottom: 10px; 
    opacity: 0.9; 
}

/*formato del titulo del juego dentro del contenedor de la imagen*/
.game-title { 
    font-size: 40px; 
    margin: 0 0 15px 0; 
}
/*formato de la descripcion dentro del contenedor de la imagen*/
.game-desc { 
    font-size: 16px; 
    color: white; 
    line-height: 1.4; 
    margin-bottom: 30px; 
}

/*contenedor de los botones que estan dentro de la imagen (juega gratis y el bookmark*/
.banner-buttons { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
}

/**formato del boton de juega gratis*/
.btn-play { 
    background: white; 
    color: black; 
    padding: 14px 35px; 
    border-radius: 5px; 
    font-weight: bold; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 11px; 
    transition: all 0.2s ease; 
}
/*funcion hover del boton de juega gratis*/
.btn-play:hover {
    transform: scale(1.05);
}

/*formato del boton de wishlist (el del bookmark)*/
.btn-wishlist { 
    border: 1px 
    solid white; 
    width: 42px; 
    height: 42px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px; 
    color: white; 
    text-decoration: none; 
    font-size: 20px; }

/*formato de la imagen que esta dentro del boton wishlist (el bookmark)*/    
.btn-wishlist img {
    width: 20px;
    height: 20px;
    filter: invert(1); 
    display: block;
}

/*funcion hover del boton wishlist (el del bookmark)*/
.btn-wishlist:hover { 
    background: gray;
    transition: all 0.2s ease;
    transform: scale(1.05);
}

/*formato del contenedor lateral que incluye la lista de juegos*/
.side-list {
    display: flex;
    flex-direction: column; /*los elementos estan formados en columna*/
    gap: 8px;
}

/*formato de cada elemento dentro del contenedor lateral*/
.side-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.2s ease;
}
/*funcion hover de cada elemento dentro del contenedor lateral*/
.side-item:hover { 
    background-color: #2a2a2a; 
}
/*formato del elemento seleccionado con el click dentro del contenedor lateral*/
.side-item.active { 
    background-color: #2a2a2a; 
}

/*formato de la imagen pequena de cada juego dentro del contenedor lateral*/
.side-thumb {
    width: 40px;
    height: 54px;
    border-radius: 4px;
    object-fit: cover;
}

/*formato del titulo de cada juego dentro del contenedor lateral*/
.side-info {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

/*formato del contenedor que esta debajo de la imagen principal (descubre algo nuevo*/
.game-nav {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 20px 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 160px;
    font-family: "Inter Tight", sans-serif;
}

/*formato del contenedor que incluye todos los juegos*/
.game-container {
    display: grid;
    gap: 25px;
    padding: 25px 40px;
    margin-left: 160px;
    grid-template-columns: repeat(5,1fr);
}

/*formato del enlace que envuelve cada juego dentro del contenedor de juegos*/
.game-link {
    text-decoration: none; /*para quitar el subrayado del enlace*/
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto; 
}

/*formato de cada juego dentro del contenedor de juegos*/
.game-item {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden; /*para que no se desborde*/
    font-size: 12px;
    font-weight: 500;
    color: white;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease; 
}
/*funcion hover de cada juego dentro del contenedor de juegos*/
.game-item:hover {
    background-color: #1f1f1f;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6); /*actua como un gradient al pasar el cursor por encima*/
    transform: translateY(-4px); /*para que se eleve un poco al pasar el cursor por encima*/
}

/*formato del contenedor de la imagen de cada juego*/
.game-thumb {
    width: 100%;
    background-color: #d3d3d3;
}

/*formato de la imagen de cada juego dentro del contenedor de la imagen*/
.game-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*formato del contenedor que incluye el titulo, precio y descripcion de cada juego*/
.game-title-card {
    font-size: 15px;
    font-weight: 700;
    margin: 4px 0 6px 0;
}

/*formato del texto del precio del juego*/
.game-price{
    font-size: 14px;
}
/*formato del texto de la descripcion del juego (juego base, complemento, etc)*/
.game-desc-card {
    font-size: 12px;
    font-weight: 500;
    color: white;
}
/*formato del contenedor que incluye el titulo, precio y descripcion de cada juego*/
.game-info{
    display: flex;
    flex-direction: column;
    padding: 10px 14px 14px;
    text-align: left;
}

/*responsive a la hora de deslizar o hacer mas pequena la pantalla*/
@media (max-width: 1200px) {
    .hero-container { grid-template-columns: 1fr; /*se pocisiona columna una por una*/ 
    }
    .side-list { display: none; /*oculta el contenedor lateral de juegos*/ 
    }
    .game-container { margin-left: 0; /*quita el margen izquierdo del contenedor de juegos*/ 
    }
}

/*responsive que cuando la pantalla es muy pequena, los elementos se acomoden en columna de uno por uno*/
@media (max-width:500px) {
    .game-container {
        flex-direction: column; 
        align-items: center;
        grid-template-columns: 1fr; 
    }
}
/*responsive que cuando la pantalla llegue a esa cantidad de pixeles, el descubrir algo nuevo se acomode normal, mientras se le quitara un poco de margen*/
@media (max-width:1700px) {
    .game-nav {
        margin-left: 10px; 
    }
}
    @media screen and (max-width: 768px) {
        .game-nav {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 480px) {
        .main-banner {
            padding: 100px 20px;
        }
    }

    @media screen and (max-width: 480px) {
        .banner-content {
            bottom: 20px;
            left: 20px;
            max-width: 90%;
        }
    }

/*formato del contenedor del boton de descargas*/
.contenedor-boton {
    display: flex;
    padding: 20px 40px;
    justify-content: right;
    margin-top: 30px;
}

.downloads {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1f1f1f;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: scale 0.2s ease;
    transition: background 0.3s;
    padding: 0;
}

.downloads:hover {
    background-color: #181818;
    transform: scale(1.1);
    transition: 0.4s ease;
}

.downloads img {
    width: 25px;
    height: auto;
}