body {
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
}

.Titulo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}


.navbar {
    background-color: #1b1b1b;
    padding: 15px 20px;
    border-radius: 1px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    background: transparent;
    border: 1px solid #444;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.game-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra todo verticalmente */
    border: 1px solid #2a2a2a;
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    align-items: center; /* Alinea poster y texto */
    gap: 20px;
}

.poster {
    width: 65px;
    height: 85px;
    border-radius: 6px;
    object-fit: cover;
}

.game-header h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: white;
}

.status-text {
    font-size: 14px;
    color: #888; /* Gris como en la imagen de Epic */
}

/* Controles de la derecha */
.card-controls {
    display: flex;
    gap: 10px;
}

.control-btn {
    background: transparent;
    border: 1px solid #444;
    color: white;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
}

.control-btn:hover {
    background-color: #333;
}