body {
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
}

.Titulo {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}


.navbar {
    background-color: black;
    padding: 15px 20px;
    border-radius: 1px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    background: transparent;
    border: 1px solid #444;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.game-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid #2a2a2a;
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.poster {
    width: 80px;
    height: 85px;
    border-radius: 6px;
    object-fit: cover;
}

.game-header h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: white;
}

.status-text {
    font-size: 14px;
    color: #888; 
}


.card-controls {
    display: flex;
    gap: 10px;
}

.control-btn {
    background: transparent;
    border: 1px solid #444;
    color: white;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
}

.control-btn:hover {
    background-color: #333;
}

@media (min-width: 600px) {
    body { padding: 20px; }
    .Titulo { font-size: 26px; }
    
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav-btn { width: auto;
        padding: 20px 25px;
    }
}

@media (min-width: 992px) {
    .Titulo { font-size: 32px; }

    .game-card {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 20px;
    }

    .card-body {
        flex-direction: row; 
        gap: 20px;
    }

    .poster {
        width: 65px;
        height: 85px;
    }

    .card-controls {
        width: auto;
        justify-content: flex-end;
    }
}


.progress-container {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    transition: opacity 0.3s ease;
}


.progress-bar {
    width: 0%; 
    height: 100%;
    background-color: #007bff; 
    transition: width 0.4s ease; 
}

.status-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percentage-text {
    font-size: 12px;
    color: #888;
}